.container-fluid{
    margin-top: 50px;
}
.left-section{
    width: 100px;
}
.middle-section{
    width: 100px;
}
.right-section{
    width: 100px;
}
body{
    padding-top: 56px;
}
*{
    border: 1px solid red;
}